@use "./colors" as clr;

.modal {
    display: none;
    opacity: 0%;
    transition: opacity 200ms linear;

    position: fixed;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(white, .7);
    color: #1C1C1C;

    padding: 2rem 3rem;

    &__title {
        font-size: 2.2rem;
        font-weight: 600;
    }

    &__subtitle {
        font-size: 1.5rem;
        font-weight: 300;
    }

    & a {
        display: inline-block;
        // width: 100%;

        font-size: 1.3rem;
        padding: 0.5em 1em;

        background-color: clr.$grass;
        color: white;

        text-decoration: none;
        text-transform: uppercase;
    }
}
