@use "./colors" as clr;

.introduction {
    padding-top: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h4 {
        font-weight: 300;
    }
}

.title {

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 10%;
        margin-right: 2rem;
    }
}